@import '../../styles/variables';

.open__hours {
    &__section {
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
