@import "../../styles/variables.scss";

.wheel {
    &__section {
        background-color: $background_1;
        padding: 40px 91px;
        height: 624px;
        margin-top: -100px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__inner {
        width: 296px;
        height: 140px;
        margin-top: 75px;
        text-align: center;

        &--title {
            color: $black;
            font-family: $font-secondary;
            font-size: $title;
            font-style: italic;
            font-weight: 400;
            line-height: 70px;
            margin-bottom: 100px;
        }
        &--subtitle {
            color: $grey_dark;
            font-family: $font-primary;
            font-size: $subtitle;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 16px;
        }
        &--date {
            color: $grey_dark;
            font-family: $font-primary;
            font-size: $subtitle;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 36px;
        }
    }
    &__imgContainer{
        width: 347px;

        &--1{
            margin-left: 95px;
            margin-bottom: 36px;
        }
        &--3{
            margin-left: 186px;
            margin-bottom: 36px;
        }
    }
    
}
