$black: #000000;
$white: #FFFFFF;
$red: #FB3232;
$brown_dark: #2A2724;
$brown: #413A32;
$brown_light_1: #9E9283;
$background_1: #CBC1B6;
$grey_dark: #454545;
$grey_light: #929292;
$stroke: #B6AFAF;
$background_2: #CFCFCF;
$grey: #333333;
$grey_72: #D2D2D2;
$grey_20: #EAEAEA;
$grey_dark_60: #454545;

$font-primary: 'Open Sans', regular;
$font-secondary: 'Fanwood Text', italic;
$head-b-fw: bold;
$body-fw: medium;
$title_big: 62px;
$title: 54px;
$subtitle: 16px;
$body_bold: 16px;
$body_text_btns: 20px;
$subtitle_2: 24px;
$big_btns: 32px;
$body_2: 80px;
$text_helper: 80px;

$max-width-desktop: 1440px;
$max-width-tablet: 744px;
$max-width-mobile: 390px;
$desktop-width: 1280px;
$tablet-width: 680px;
$mobile-width: 366px;
