@import './../../styles/_variables.scss';

.header {
    background: $background_2;
    width: 100%;
    font-size: $font-primary;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header__content {
    width: $desktop-width;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .header__logo {
        img {
            cursor: pointer;
        }
    }

    .header__btn img {
        cursor: pointer;
    }
}

@media screen and (max-width: $max-width-desktop) {
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}
