@import '../../styles/variables';

header {
    background: $background_2;
    width: 100%;
    font-family: $font-primary;

    .container {
        width: $desktop-width;
        padding: 0 91px;
        height: 88px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        gap: 150px;

        .logo {
            img {
                cursor: pointer;
            }
        }

        .btn img {
            cursor: pointer;
        }
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: $desktop-width) {
    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        gap: 0;
    }
}
